<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peregrine's Home</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
            <h1>Peregrine's Home<h1>
          </center>
          <div class="m">
              <font size="6.5" color="black" opacity="1.0" align="justify">
                Peregrine's Home - это социальная сеть для "странных"* детей. Она создана для того, чтобы
                дети могли в короткие сроки найти защиту от чудовищ, или сообщить временным петлям о грядущей опасности.

                Регистрируйтесь в сети, ищите своих друзей - для общения и обсуждения событий, которые происходят
                в настоящем времени, птиц-имбрин, чтобы получить скорейшую защиту или предупредить о нападении
          </div>
          <div class="b">
            <center>
              <form action="login" method="get">
                <button type="submit" class="btn btn-default">
                  <font size="5" color="black">
                    Продолжить
                  </font>
                </button>
              </form>
            </center>
          </div>
          <div class="s">
              <font size="6" color="black" align="left" margin-top="30px">
              *"странные" люди - люди, которые обладают сверхспособностями.
              </font>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
